@font-face {
      font-family: "Bluu Next";
      src: url("./fonts/bluunext.woff2") format("woff"), url("./fonts/bluunext.woff") format("woff")"

}

@font-face {
      font-family: "Voca";
      src: url("./fonts/VOCA.woff") format("woff");
}

@font-face {
      font-family: "Gosha Sans";
      src: url("./fonts/GoshaSans-Bold.otf") format("opentype");
}

:root {
      --title-font-two: "Bluu Next", sans-serif;
      --special-font: "Voca", sans-serif;
      --title-font: "Gosha Sans", sans-serif;

}

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 16px;
      justify-content: center;
      background-color: #edc7a9;
      background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
      background-repeat: no-repeat;
      height: 100vh;

}

section {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}

h1 {
      font-family: var(--title-font-two);
      font-size: 1.5rem;
      letter-spacing: 10px;
      transition: all 0.5s ease;
      margin-top: 10px;
      margin-bottom: 10px;
}

.hover {
      font-family: var(--special-font);
      color: red;
      font-size: 2rem;
}

h2 {
      font-family: var(--title-font);
      font-size: 10vmin;
}

section div.circle {
      width: 20px;
      height: 20px;
      background-color: #3e78ed;
      border-radius: 50%;
      display: inline-block;
}

footer {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px;
}

footer img {
      margin: 0 10px;
}

.test {
      height: 4rem;
      width: 20rem;
      border: 1px solid black;
      margin-left: 40px;
}

.test::after {
      content: "";
      height: 4rem;
      width: 20rem;
      border: 1px solid black;
      background-color: red;
      z-index: 1;
      position: absolute;
      transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      margin-left: 40px;
      left: 0;
}

.test:hover::after {
      width: 0;
      background-color: yellow;

}